<div id="alert-container" class="hidden"></div> 
<div class="main">

    <h1>Cadastro de Placa</h1>
    <form id="placaForm" action="/cadastroPlaca" method="post" enctype="multipart/form-data">
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" value="{{cidade}}" required>

        <label for="placa">Placa:</label>
        <input type="file" id="placa" name="placa" required>

        <button type="submit">Cadastrar Placa</button>
    </form>


    <div id="results" class="results-container hidden"></div>

    <hr>

    <h2>Consultar Placa</h2>
    <form id="consultaForm" method="get">
        <label for="consulta">Placa para Consulta:</label>
        <input type="text" id="consulta" name="placa" value="{{placa}}" required>
        <button type="submit">Consultar</button>
    </form>

    <h2>Relatório por cidade</h2>
    <form id="consultaForm2" method="get">
        <label for="consulta2">Cidade para Consulta:</label>
        <input type="text" id="consulta2" name="cidade" value="crato-ce" required>
        <button type="submit">Consultar</button>
    </form>

    <hr>
</div>
